<input
  type="text"
  placeholder="Название машины"
  class="form-control"
  [(ngModel)]="carName"
/>
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<div *ngIf="addCarStatus"></div>

<ng-container *ngIf="addCarStatus; else elseTemplate">
  <p>Машина добавлена!</p>
</ng-container>
<ng-template #elseTemplate>
  <p>Добавьте машину</p>
</ng-template>

<p></p>
<hr />
<!-- <app-car *ngFor="let car of cars"></app-car> -->

<ul>
  <li *ngFor="let item of items; let index = index">
    <b>{{ index + 1 }}</b> - <i>{{ item.name }}</i>
  </li>
</ul>
<hr />
