<input
  type="text"
  placeholder="Название машины"
  class="form-control"
  [(ngModel)]="carName"
/>
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>
<div *ngIf="addCarStatus"></div>

<ng-container *ngIf="addCarStatus; else elseTemplate">
  <p>Машина добавлена!</p>
</ng-container>
<ng-template #elseTemplate>
  <p>Добавьте машину</p>
</ng-template>

<ul>
  <li *ngFor="let date of dates; let index = index">
    <div>
      <b>{{ index + 1 }}</b> - {{ date | uppercase }}
    </div>
  </li>
</ul>

<p></p>
<hr />
