<div class="col-xs-8 col-xs-offset-2">
  <h1>{{ appTitle }}</h1>
  <hr />
  <h4>Добавьте свою машину</h4>
  <label for="addCarName">Название:</label>
  <input type="text" [(ngModel)]="addCarName" class="form-control" />
  <label for="addCarColor">Цвет:</label>
  <input type="text" class="form-control" [(ngModel)]="addCarColor" />
  <hr />
  <button class="btn btn-success" (click)="submitCar()">Добавить машину</button>
  <button class="btn btn-primary" (click)="getCars()">Загрузить машины</button>
  <hr />
  <div *ngIf="serverError.length > 0" class="alert alert-danger" role="alert">
    {{ serverError }}
  </div>
  <ul class="list-group">
    <li class="row list-group-item" *ngFor="let car of cars">
      <div class="row">
        <div class="col-md-8">
          <span class="badge" [ngStyle]="{ background: car.color }">{{
            car.id
          }}</span>
          {{ car.name }}
        </div>
        <div class="col-6 col-md-4">
          <button
            class="btn btn-xs btn-info"
            styles="align-items: flex-end"
            (click)="setNewColor(car)"
          >
            Изменить цвет
          </button>
          <button
            class="btn btn-xs btn-danger"
            styles="align-items: flex-end"
            (click)="deleteCar(car.id)"
          >
            Удалить
          </button>
        </div>
      </div>
    </li>
  </ul>
</div>
