<div class="col-xs-8 col-xs-offset-2">
  <!-- Локальная референция -->
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="user">
      <div class="form-group">
        <label>Email</label>
        <input
          type="text"
          class="form-control"
          formControlName="email"
          [ngClass]="{
            'has-error': email?.invalid && email?.touched
          }"
        />
        <div
          *ngIf="
          email?.errors?.['email'] &&
          email?.touched
          "
        >
          Невалидный email
        </div>
        <div
          *ngIf="
          email?.errors?.['required'] && email?.touched
          "
        >
          Email не может быть пустым
        </div>
        <span *ngIf="email?.errors?.['emailIsUsed']"
          >Email уже используется<br
        /></span>
      </div>
      <div class="form-group">
        <label>Пароль</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          [ngClass]="{
            'has-error':
              form.get('user.password')?.invalid &&
              form.get('user.password')?.touched
          }"
        />
        <div
          *ngIf="
            form.get('user.password')?.invalid &&
            form.get('user.password')?.touched
          "
        >
          <span *ngIf="password?.errors?.['required']"
            >Пароль не должен быть пустым <br
          /></span>
          <span *ngIf="password?.errors?.['lengthError']"
            >Пароль должен быть больше чем {{ charsCount }} символов</span
          >
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Выберете страну</label>
      <select class="form-control" formControlName="country">
        <option value="ru">Россия</option>
        <option value="ua">Украина</option>
        <option value="by">Белоруссия</option>
      </select>
    </div>
    <div class="radio" *ngFor="let answer of answers">
      <label>
        <input
          type="radio"
          [value]="answer.type"
          name="answer"
          formControlName="answer"
        />
        {{ answer.text }}
      </label>
    </div>
    <button [disabled]="form.invalid" class="btn btn-success" type="submit">
      Сохранить
    </button>
  </form>
</div>
